@font-face {
    font-family: 'OrbitronLight';
    src: url('orbitron_light-webfont.eot');
    src: url('orbitron_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('orbitron_light-webfont.woff') format('woff'),
         url('orbitron_light-webfont.ttf') format('truetype'),
         url('orbitron_light-webfont.svg#OrbitronLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SaturnVRegular';
    src: url('saturnv-webfont.eot');
    src: url('saturnv-webfont.eot?#iefix') format('embedded-opentype'),
         url('saturnv-webfont.woff') format('woff'),
         url('saturnv-webfont.ttf') format('truetype'),
         url('saturnv-webfont.svg#SaturnVRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

